<div class="container-fluid">
    <br />
    <div class="box-head">
        <img src="./assets/images/m11.png" alt="" style="width: 40px; height: 40px" />
        <span class="heading-txt"><span style="color: #1e8bc3">A</span>DD LOAD TRIAL</span>
        <div class="back">
            <button mat-raised-button (click)="backClicked()">
        <i class="fas fa-arrow-left"></i>&nbsp; Back
      </button>
            <br />
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="example-container">
        <form [formGroup]="LoadTrial" (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="Start" [selectedIndex]="selectedIndex" animationDuration="0ms">
                <mat-tab>
                    <mat-card>
                        <ng-template mat-tab-label>
                            <span class="material-icons">looks_one</span>&nbsp;Basic Details
                        </ng-template>
                        <h3 class="sub-header">Trial Details</h3>
                        <div class="row no-gutters">
                            <div class="col-4 justify-content-start">
                                <mat-form-field appearance="fill">
                                    <mat-label>Load Trial Number</mat-label>
                                    <input class="label-txt" readonly formControlName="loadNo" matInput placeholder="L-001" maxlength="30" minlength="5" />
                                </mat-form-field>
                            </div>
                            <div class="col-4 justify-content-start">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Choose a Load Trial Date</mat-label>
                                    <input class="label-txt" formControlName="loadDate" matInput [matDatepicker]="picker" [max]="maxDate" [min]="minDate" />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <div *ngIf="
                      LoadTrial.controls['loadDate'].invalid &&
                      (LoadTrial.controls['loadDate'].dirty ||
                        LoadTrial.controls['loadDate'].touched)
                    " class="error">
                                        <div *ngIf="LoadTrial.controls['loadDate'].errors.required">
                                            Load Trial Date is Required.
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>From Place</mat-label>
                                    <input class="label-txt" formControlName="loadFrom" maxlength="15" minlength="3" required matInput placeholder="Eg: Colombo" />
                                    <div *ngIf="
                      LoadTrial.controls['loadFrom'].invalid &&
                      (LoadTrial.controls['loadFrom'].dirty ||
                        LoadTrial.controls['loadFrom'].touched)
                    " class="error">
                                        <div *ngIf="LoadTrial.controls['loadFrom'].errors.pattern" class="error">
                                            Numbers are not allowed.
                                        </div>
                                    </div>
                                    <mat-hint>Eg: Colombo</mat-hint>
                                </mat-form-field>
                            </div>
                            <br />
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>To Place</mat-label>
                                    <input class="label-txt" formControlName="loadTo" required maxlength="15" minlength="3" matInput placeholder="Eg: Galle" />
                                    <div *ngIf="
                      LoadTrial.controls['loadTo'].invalid &&
                      (LoadTrial.controls['loadTo'].dirty ||
                        LoadTrial.controls['loadTo'].touched)
                    " class="error">
                                        <div *ngIf="LoadTrial.controls['loadTo'].errors.pattern" class="error">
                                            Numbers are not allowed.
                                        </div>
                                    </div>
                                    <mat-hint>E.g:To Galle</mat-hint>
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="w-100">
                                <h3 class="sub-header">Schedule Details</h3>
                                <hr class="line" />
                                <br />
                            </div>
                            <div class="col">
                                <mat-form-field appearance="fill">
                                    <mat-label>Schedule No.</mat-label>
                                    <mat-select class="label-txt" formControlName="scheduleNo" (selectionChange)="onChangeSelectSch($event)">
                                        <mat-option>Choose one..</mat-option>
                                        <mat-option *ngFor="let tempSchNo of scheduleArray" value="{{ tempSchNo.scheduleNo }}">
                                            <span><span style="font-weight: bold"
                          >{{ tempSchNo.scheduleNo + " " }}
                          <span style="font-weight: lighter; color: blue">{{
                            tempSchNo.locoCatId +
                              " " +
                              tempSchNo.locoNumber +
                              " "
                          }}</span>
                                            <span style="font-size: 10px; color: green">{{
                            tempSchNo.completedDate | date
                          }}</span></span>
                                            </span>
                                        </mat-option>
                                    </mat-select>
                                    <mat-hint style="color: red; font-size: 12px" *ngIf="lengthCount"><b>*There are not available Completed Schedules</b
                    ></mat-hint
                  >
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Locomotive Category</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: M9"
                    formControlName="locoCatId"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Locomotive Number</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: 872"
                    formControlName="locoNumber"
                  />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
              <br />
              <div class="w-100">
                <h3 class="sub-header">Persons</h3>
                <hr class="line" />
                <br />
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>.Supervisor Name</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: 972363430v"
                    formControlName="supervisorName"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Supervisor NIC</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: 972363430v"
                    formControlName="supervisorNic"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Supervisor Email</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: h@gmail.com"
                    formControlName="supervisorEmail"
                  />
                </mat-form-field>
              </div>
              <div class="w-100"></div>
              <br />
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>.Service Manager Name</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: 972363430v"
                    formControlName="managerName"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Service Manager NIC</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: 972363430v"
                    formControlName="managerNic"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Service Manager Email</mat-label>
                  <input
                    class="label-txt"
                    readonly
                    matInput
                    placeholder="Eg: h@gmail.com"
                    formControlName="managerEmail"
                  />
                </mat-form-field>
              </div>
            </div>
            <br />
          </mat-card>
        </mat-tab>
        <mat-tab>
          <mat-card>
            <ng-template mat-tab-label>
              <span class="material-icons">looks_two</span>&nbsp;Test Info(at
              Running)
            </ng-template>
            <h3 class="sub-header">Running Condition</h3>
            <div
              formArrayName="items"
              *ngFor="
                let item of LoadTrial.get('items')['controls'];
                let i = index
              "
            >
              <div class="container dyanmic" [formGroupName]="i">
                <p class="observation">Observation {{ i + 1 }}</p>
                <div class="row justify-content-start no-gutters">
                  <div class="col">
                    <mat-form-field appearance="fill">
                      <mat-label>Description</mat-label>
                      <textarea
                        class="label-txt"
                        required
                        matInput
                        formControlName="description"
                        placeholder="Eg:- Traction motor issue"
                      ></textarea>
                      <div
                        *ngIf="LoadTrial.controls['items'].errors?.pattern"
                        class="error"
                      >
                        Numbers are not allowed.
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-radio-group
                      required
                      aria-label="Select an option"
                      formControlName="running"
                    >
                      <mat-radio-button
                        class="radio-txt"
                        value="Engine Running"
                        style="margin-right: 5px"
                        >Engine Running</mat-radio-button
                      >
                      <mat-radio-button
                        class="radio-txt"
                        value="Engine Stopped"
                        disabled
                        >Engine Stopped</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row justify-content-start no-gutters">
                  <div class="col no-gutters">
                    <mat-form-field appearance="fill">
                      <mat-label>Condition</mat-label>
                      <input
                        class="label-txt"
                        required
                        matInput
                        formControlName="condition"
                        placeholder="E.g: Working well"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col no-gutters">
                    <mat-form-field appearance="fill">
                      <mat-label>Action</mat-label>
                      <input
                        class="label-txt"
                        required
                        matInput
                        formControlName="action"
                        placeholder="E.g: Replace the piston"
                      />
                    </mat-form-field>
                    <br />
                  </div>
                  <div class="col col-lg-2">
                    <button
                      [disabled]="i < 1"
                      mat-button
                      type="button"
                      (click)="removeItem(i, 'sub')"
                    >
                      <span class="material-icons"
                        ><span class="material-icons-outlined">
                          remove_circle
                        </span></span
                      >
                    </button>
                  </div>
                </div>
                <br />
              </div>
            </div>
            <br />
            <button
              mat-stroked-button
              color="primary"
              type="button"
              (click)="addItem()"
            >
              Add Test
            </button>
            <button
              mat-raised-button
              type="button"
              style="margin-left: 8px"
              (click)="removeItem('', 'main')"
            >
              Remove All
            </button>
            <br />
          </mat-card>
        </mat-tab>
        <mat-tab>
          <mat-card>
            <ng-template mat-tab-label>
              <span class="material-icons">looks_3</span>&nbsp;Test Info(at
              Stopped)
            </ng-template>
            <h3 class="sub-header">Stop Condition</h3>
            <div
              formArrayName="itemsStop"
              *ngFor="
                let item of LoadTrial.get('itemsStop')['controls'];
                let i = index
              "
            >
              <div class="container dyanmic" [formGroupName]="i">
                <p class="observation">Observation {{ i + 1 }}</p>
                <div class="row justify-content-start no-gutters">
                  <div class="col">
                    <mat-form-field appearance="fill">
                      <mat-label>Description</mat-label>
                      <textarea
                        class="label-txt"
                        required
                        matInput
                        formControlName="description"
                        placeholder="Eg:- Traction motor issue"
                      ></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-radio-group
                      required
                      aria-label="Select an option"
                      formControlName="running"
                    >
                      <mat-radio-button
                        class="radio-txt"
                        value="Engine Running"
                        disabled
                        style="margin-right: 5px"
                        >Engine Running</mat-radio-button
                      >
                      <mat-radio-button class="radio-txt" value="Engine Stopped"
                        >Engine Stopped</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row justify-content-start no-gutters">
                  <div class="col no-gutters">
                    <mat-form-field appearance="fill">
                      <mat-label>Condition</mat-label>
                      <input
                        class="label-txt"
                        required
                        matInput
                        formControlName="condition"
                        placeholder="E.g: Working well"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col no-gutters">
                    <mat-form-field appearance="fill">
                      <mat-label>Action</mat-label>
                      <input
                        class="label-txt"
                        required
                        matInput
                        formControlName="action"
                        placeholder="E.g: Replace the piston"
                      />
                    </mat-form-field>
                    <br />
                  </div>
                  <div class="col col-lg-2">
                    <button
                      [disabled]="i < 1"
                      mat-button
                      type="button"
                      (click)="removeItem(i, 'sub')"
                    >
                      <span class="material-icons"
                        ><span class="material-icons-outlined">
                          remove_circle
                        </span></span
                      >
                    </button>
                  </div>
                </div>
                <br />
              </div>
            </div>
            <br />
            <button
              mat-stroked-button
              color="primary"
              type="button"
              (click)="addStopItem()"
            >
              Add Test
            </button>
            <button
              mat-raised-button
              type="button"
              style="margin-left: 8px"
              (click)="removeItem('', 'main')"
            >
              Remove All
            </button>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <mat-card>
            <ng-template mat-tab-label>
              <span class="material-icons">looks_4</span>&nbsp;Other
            </ng-template>
            <h2 class="sub-header">Dynamic Brake Test</h2>
            <div
              formArrayName="dynamicBrake"
              *ngFor="
                let item of LoadTrial.get('dynamicBrake')['controls'];
                let i = index
              "
            >
              <div class="container dyanmic" [formGroupName]="i">
                <div class="row no-gutters">
                  <div class="col">
                    <mat-form-field appearance="fill">
                      <mat-label>Notch</mat-label>
                      <mat-select formControlName="notch">
                        <mat-option>Choose..</mat-option>
                        <mat-option
                          *ngFor="let notch of notches"
                          [value]="notch"
                          >{{ notch }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="fill">
                      <mat-label>Traction Motors(Amps)</mat-label>
                      <input
                        class="label-txt"
                        required
                        type="number"
                        matInput
                        formControlName="tractionMtr"
                        placeholder="E.g: 100"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field appearance="fill">
                      <mat-label>Main Generator(Amps)</mat-label>
                      <input
                        class="label-txt"
                        required
                        matInput
                        type="number"
                        formControlName="mainGen"
                        placeholder="E.g: 100"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col col-lg-2">
                    <button
                      [disabled]="i < 1"
                      mat-button
                      type="button"
                      (click)="removeItem(i, 'sub')"
                    >
                      <span class="material-icons"
                        ><span class="material-icons-outlined">
                          remove_circle
                        </span></span
                      >
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <button
              mat-stroked-button
              color="primary"
              type="button"
              (click)="addDynItem()"
            >
              Add Test
            </button>
            <button
              mat-raised-button
              type="button"
              style="margin-left: 8px"
              (click)="removeItem('', 'main')"
            >
              Remove All
            </button>
            <br />
            <br />
            <hr class="line" />
            <div class="container dyanmic">
              <div class="row justify-content-start">
                <div class="col-4">
                  <button
                    type="button"
                    style="background-color: #1eab09; color: white"
                    mat-mini-fab
                    color="primary"
                    aria-label="Example icon button with a menu icon"
                    #tooltip="matTooltip"
                    matTooltip="Update Mileage Details"
                    matTooltipPosition="right"
                    (click)="openDialog()"
                  >
                    <img
                      src="https://img.icons8.com/material-outlined/24/000000/add.png"
                    />
                  </button>
                </div>
              </div>
            </div>
            <div class="container dyanmic" *ngIf="display">
              <div class="row justify-content-start">
                <div class="col-4 pr-0">
                  <mat-form-field appearance="fill">
                    <mat-label>Initial mileage(Km)</mat-label>
                    <input
                      class="label-txt"
                      readonly
                      matInput
                      placeholder="1200Km"
                      formControlName="startMileage"
                    />
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="fill">
                    <mat-label>End mileage(Km)</mat-label>
                    <input
                      class="label-txt"
                      matInput
                      placeholder="12000Km"
                      formControlName="endMileage"
                    />
                    <div
                      *ngIf="
                        LoadTrial.controls['endMileage'].invalid &&
                        (LoadTrial.controls['endMileage'].dirty ||
                          LoadTrial.controls['endMileage'].touched)
                      "
                      class="error"
                    >
                      <div
                        *ngIf="LoadTrial.controls['endMileage'].errors.required"
                      >
                        Initial mileage is Required.
                      </div>
                      <div
                        *ngIf="LoadTrial.controls['endMileage'].errors.pattern"
                        class="error"
                      >
                        Enter only numbers
                      </div>
                    </div>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <br />
            <h3 class="sub-header">Special Remarks on Load Test Run</h3>
            <div class="row">
              <div class="col-sm-8">
                <mat-form-field appearance="fill">
                  <mat-label>Special Remarks</mat-label>
                  <textarea
                    class="label-txt"
                    formControlName="loadNote"
                    matInput
                  ></textarea>
                  <div
                    *ngIf="
                      LoadTrial.controls['loadNote'].invalid &&
                      (LoadTrial.controls['loadNote'].dirty ||
                        LoadTrial.controls['loadNote'].touched)
                    "
                    class="error"
                  >
                    <div *ngIf="LoadTrial.controls['loadNote'].errors.required">
                      Special Remarks is Required.
                    </div>
                  </div>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div class="box-head">
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!LoadTrial.valid"
              >
                Submit
              </button>
              <mat-spinner [diameter]="25" *ngIf="this.spinner"></mat-spinner>
            </div>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>