<div class="container-fluid">
    <div class="back-card row no-gutters">
        <div class="container">
            <span class="welcome col-md">welcome back, bimsara</span>
            <br>
            <span class="muzile">{{currentDate | date:'dd MMM yyyy hh:mm a'}}</span>
        </div>

    </div>
    <br>
    <div class="row new">
        <div class="col-md-5 col-lg-3">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_title h-140">
                    <div class="box-head">
                        <img src="./assets/images/m9.png" alt="" style="height: 45px; width: 45px;">
                        <span class="heading-txt"><span style="color: #1e8bc3;">A</span>DD LOCOMOTIVES</span>
                    </div>
                    <br>
                    <p>Contains the list of staff members for The Big Event.</p>
                </div>
                <div class="card-action-bar">
                    <a class="float-lg-none link">View Staff</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_title h-140">
                    <div class="box-head">
                        <img src="./assets/images/m9.png" alt="" style="height: 45px; width: 45px;">
                        <span class="heading-txt"><span style="color: #1e8bc3;">A</span>DD LOCOMOTIVES</span>
                    </div>
                    <br>
                    <p>Contains the list of staff members for The Big Event.</p>
                </div>
                <div class="card-action-bar">
                    <a class="float-lg-none link">View Staff</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_title h-140">
                    <div class="box-head">
                        <img src="./assets/images/m9.png" alt="" style="height: 45px; width: 45px;">
                        <span class="heading-txt"><span style="color: #1e8bc3;">A</span>DD LOCOMOTIVES</span>
                    </div>
                    <br>
                    <p>Contains the list of staff members for The Big Event.</p>
                </div>
                <div class="card-action-bar">
                    <a class="float-lg-none link">View Staff</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_title h-140">
                    <div class="box-head">
                        <img src="./assets/images/m9.png" alt="" style="height: 45px; width: 45px;">
                        <span class="heading-txt"><span style="color: #1e8bc3;">A</span>DD LOCOMOTIVES</span>
                    </div>
                    <br>
                    <p>Contains the list of staff members for The Big Event.</p>
                </div>
                <div class="card-action-bar">
                    <a class="float-lg-none link">View Staff</a>
                </div>
            </div>
        </div>
    </div>
</div>