<div class="container-fluid">
    <br>
    <div class="box-head">
        <img src="./assets/images/sup.png" alt="" style="height: 70px; width: 70px;">
        <span class="heading-txt">ADD USERS</span>
    </div>
    <hr>
    <div class="example-container">
        <form [formGroup]="UserGroup" (ngSubmit)="onSubmit()">
            <mat-card class="card1">
                <h3 class="sub-headers">Basic Details</h3>
                <div class="row no-gutters">
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="userName">
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="userEmail">
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="userGender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>NIC</mat-label>
                            <input matInput formControlName="userNic">
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="userMobile">
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address">
                        </mat-form-field>
                    </div>

                    <div class="w-100">
                    </div>

                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="userRole">

                                <mat-option *ngFor="let role of userRoles" [value]="role">{{role}}</mat-option>


                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Appointment Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="appointmentDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Work Place</mat-label>
                            <mat-select formControlName="userWorks">
                                <ng-container *ngFor="let place of places">
                                    <mat-option value="{{place.value}}">{{place.value}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="w-100">
                    </div>
                    <div class="col pr-0">
                        <mat-form-field appearance="fill">
                            <mat-label>Password</mat-label>
                            <input formControlName="userPassword" matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
                        </mat-form-field>
                    </div>
                    <div class="col pr-0">
                        <br>
                        <input type="file" (change)="uploadFile($event)" accept=".png, .jpg, .jpeg" style="height: 45px; background: white; " id="selectedFile">

                    </div>
                    <div class="col pr-0"></div>
                </div>
                <div class="box-head">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                    <!-- <mat-spinner [diameter]="25" *ngIf="this.spinner"></mat-spinner> -->
                </div>
            </mat-card>
        </form>
    </div>




</div>
