<div class="container-fluid">
    <br />
    <div class="box-head">
        <div class="back">
            <button mat-raised-button (click)="backClicked()">
        <i class="fas fa-arrow-left"></i>&nbsp; Back
      </button>
            <br />
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndex" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="material-icons" src="https://img.icons8.com/emoji/48/000000/train-emoji.png" style="width: 40px; height: 40px" /> First
            </ng-template>
            <div class="py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="height: 200px">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 195px">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                <img src="{{ image }}" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 50px; height: 50px" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">{{ userName }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">{{ userRole }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">{{ userWorks }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">2021/12/1</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                <span>User Overall performance is </span>&nbsp;<span>{{ overallScore ? overallScore + "%" : null }}
                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-user-perfomance-bar-chart></app-user-perfomance-bar-chart>
                                    <p class="header">User Performance Variation</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-user-perfomance-overoll></app-user-perfomance-overoll>
                                    <p class="header">Availability of Locomotives</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 200px">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                <img src="https://img.icons8.com/emoji/48/000000/train-emoji.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 50px; height: 50px" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                No.of locomotives assigned
                                                <span style="color: brown">{{
                          locoArray.length ? locoArray.length : 0
                        }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                No.of locomotives In<span>{{ userRole }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                No.of locomotives Out <span>{{ userWorks }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                Average no.of Locomotives In Shed
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                Average no.of Locomotives Out Shed&nbsp;<span>{{ overallScore ? overallScore + "%" : null }}
                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-locomotive-doh-nut (newItemEvent)="addItem($event)" *ngIf="
                      countOperateLoco || countServiceLoco || countLoadLoco
                    " [countOperateLoco]="countOperateLoco" [countServiceLoco]="countServiceLoco" [countLoadLoco]="countLoadLoco"></app-locomotive-doh-nut>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-loco-historybar></app-loco-historybar>
                                    <p class="header">Availability of Locomotives</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'-55px'" style="bottom: 30px">
                <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <img class="material-icons" src="https://img.icons8.com/emoji/48/000000/train-emoji.png" style="width: 40px; height: 40px" /> First
            </ng-template>
            <div class="py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content> </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-schedule-doh-nut *ngIf="
                      countSchedules ||
                      completedSchedules ||
                      draftSchedules ||
                      halfSchedules
                    " [countSchedules]="countSchedules" [completedSchedules]="completedSchedules" [halfSchedules]="halfSchedules" [draftSchedules]="draftSchedules"></app-schedule-doh-nut>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-schedule-variance></app-schedule-variance>
                                    <p class="header">Availability of Locomotives</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content> </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-user-load-trial-doh-nut *ngIf="
                      countDraftLoad || countPassedtLoad || countPendingLoad
                    " [countDraftLoad]="countDraftLoad" [countPendingLoad]="countPendingLoad" [countPassedtLoad]="countPassedtLoad"></app-user-load-trial-doh-nut>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-load-trial-variance></app-load-trial-variance>
                                    <p class="header">Availability of Locomotives</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

            <mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'-55px'" style="bottom: 30px">
                <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</div>