<div class="container-fluid">
    <br />
    <div class="box-head">
        <img src="./assets/images/rising.png" alt="" style="width: 40px; height: 40px" />
        <span class="heading-txt"><span style="color: #1e8bc3">A</span>NALYSIS REPORT</span>
        <div class="back">
            <button mat-raised-button (click)="backClicked()">
        <i class="fas fa-arrow-left"></i>&nbsp; Back
      </button>
            <br />
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-tab-group mat-align-tabs="start" [selectedIndex]="selectedIndex" animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons">looks_one</span>&nbsp;User & Locomotives
            </ng-template>
            <div class="py">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" style="height: 200px">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 210px">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                <img src="{{ image }}" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 50px; height: 50px" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 label-txt">{{ userName }}</div>
                                        </div>
                                        <hr class="hr" />
                                        <div class="row">
                                            <div class="col-md-12 label-txt">{{ userRole }}</div>
                                        </div>
                                        <hr class="hr" />
                                        <div class="row">
                                            <div class="col-md-12 label-txt">{{ userWorks }}</div>
                                        </div>
                                        <hr class="hr" />

                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                <span>User Overall performance is </span>&nbsp;<span class="value-txt">{{ overallScore ? overallScore + "%" : null }}
                        </span>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 210px">
                                    <app-user-perfomance-bar-chart></app-user-perfomance-bar-chart>
                                    <p class="header">User Performance Variation</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 210px">
                                    <app-user-perfomance-overoll></app-user-perfomance-overoll>
                                    <br />
                                    <p class="header">User Performance Performance</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 228px">
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-12 label-txt">
                                                <img src="./assets/images/m9.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 50px; height: 50px" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 label-txt">
                                                No.of locomotives assigned
                                            </div>
                                            <div class="col-md-2">
                                                <span class="value-txt">{{
                          locoArray?.length ? locoArray?.length : 0
                        }}</span>
                                            </div>
                                        </div>
                                        <hr class="hr" />
                                        <div class="row">
                                            <div class="col-md-10 label-txt">
                                                No.of locomotives In
                                            </div>
                                            <div class="col-md-2">
                                                <span class="value-txt">{{ inLoco ? inLoco : 0 }}</span>
                                            </div>
                                        </div>
                                        <hr class="hr" />
                                        <div class="row">
                                            <div class="col-md-10 label-txt">
                                                No.of locomotives Out
                                            </div>
                                            <div class="col-md-2">
                                                <span class="value-txt">{{
                          outLoco ? outLoco : 0
                        }}</span>
                                            </div>
                                        </div>
                                        <hr class="hr" />
                                        <div class="row">
                                            <div class="col-md-10 label-txt">
                                                Average no.of Locomotives In Shed
                                            </div>
                                            <div class="col-md-2">
                                                <span class="value-txt">{{
                          averageInLoco | number: "1.0-0"
                        }}</span>
                                            </div>
                                        </div>
                                        <hr class="hr" />
                                        <div class="row">
                                            <div class="col-md-10 label-txt">
                                                Average no.of Locomotives Out Shed
                                            </div>
                                            <div class="col-md-2">
                                                <span class="value-txt">{{
                          averageOutLoco | number: "1.0-0"
                        }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 228px">
                                    <app-locomotive-doh-nut (newItemEvent)="addItem($event)" *ngIf="
                      countOperateLoco || countServiceLoco || countLoadLoco
                    " [countOperateLoco]="countOperateLoco" [countServiceLoco]="countServiceLoco" [countLoadLoco]="countLoadLoco"></app-locomotive-doh-nut>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 228px">
                                    <app-loco-historybar></app-loco-historybar>
                                    <br />
                                    <p class="header">Availability of Locomotives</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'-55px'" style="bottom: 30px">
                <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons">looks_two</span>&nbsp;Schedules & Load Trials
            </ng-template>
            <div class="py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <mat-card-content style="height: 200px">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-12 label-txt">
                                                    <img src="./assets/images/schedule.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 50px; height: 50px" />
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    No.of Schedules Assigned
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            scheduleList?.length ? scheduleList?.length : 0
                          }}</span>
                                                </div>
                                            </div>
                                            <hr class="hr" />
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    No.of Completed Schedules
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            countSchedules ? countSchedules : 0
                          }}</span>
                                                </div>
                                            </div>
                                            <hr class="hr" />
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    No.of InCompleted Schedules
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            inCompletedSchedules ? inCompletedSchedules : 0
                          }}</span>
                                                </div>
                                            </div>
                                            <hr class="hr" />
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    Average no.of Schedules Processed
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            averageSchedule | number: "1.0-0"
                          }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 200px">
                                    <app-schedule-doh-nut *ngIf="
                      countSchedules ||
                      completedSchedules ||
                      draftSchedules ||
                      halfSchedules
                    " [countSchedules]="countSchedules" [completedSchedules]="completedSchedules" [halfSchedules]="halfSchedules" [draftSchedules]="draftSchedules"></app-schedule-doh-nut>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content style="height: 200px">
                                    <app-schedule-variance></app-schedule-variance>
                                    <br />
                                    <p class="header">Schedules per Year</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <mat-card-content style="height: 200px">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-12 label-txt">
                                                    <img src="./assets/images/locom6.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 50px; height: 50px" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    No.of Load Trials Processed
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            loadArray?.length ? loadArray?.length : 0
                          }}</span>
                                                </div>
                                            </div>
                                            <hr class="hr" />
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    No.of Accepted Load Trials
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            countPassedtLoad ? countPassedtLoad : 0
                          }}</span>
                                                </div>
                                            </div>
                                            <hr class="hr" />
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    No.of Pending Load Trials
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            countTotalPendingLoad ? countTotalPendingLoad : 0
                          }}</span>
                                                </div>
                                            </div>
                                            <hr class="hr" />
                                            <div class="row">
                                                <div class="col-md-10 label-txt">
                                                    Average no.of Load Trials Processed
                                                </div>
                                                <div class="col-md-2">
                                                    <span class="value-txt">{{
                            averageLoadTrials | number: "1.0-0"
                          }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-user-load-trial-doh-nut *ngIf="
                      countDraftLoad || countPassedtLoad || countPendingLoad
                    " [countDraftLoad]="countDraftLoad" [countPendingLoad]="countPendingLoad" [countPassedtLoad]="countPassedtLoad"></app-user-load-trial-doh-nut>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="example-card">
                                <mat-card-content>
                                    <app-load-trial-variance></app-load-trial-variance>
                                    <p class="header">Load Trials per Year</p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

            <mat-grid-list cols="2" rowHeight="300px" [gutterSize]="'-55px'" style="bottom: 30px">
                <mat-grid-tile> </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>
    </mat-tab-group>
</div>
