<div>
    <h2 mat-dialog-title class="heading">
        Next Schedules <span class="schedule-No"> ({{ this.data.id }})</span>
    </h2>
    <mat-dialog-content class="mat-typography">
        <div class="container-fluid">
            <div class="search-div">
                <!-- <mat-form-field class="search-form-field" appearance="fill" style="width: 300px; margin-left: 15px;">
                    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value);" #filterInput>
                    <mat-hint>Search by Loco Category, Loco Number, </mat-hint>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
                </mat-form-field> -->
            </div>
            <br />
            <div class="main-table">
                <div class="mat-elevation-z8">
                    <mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="Next Schedule No.">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Next Schedule No.
                            </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Next Schedule No.">{{ tempSchedule?.nxtSchId }}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Loco Category">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Loco Category
                            </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Loco Category">
                                {{ tempSchedule?.locoCatId }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Loco Number">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Loco Number</mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Loco Number">
                                {{ tempSchedule?.locoNumber }}
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Date
                            </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Date">
                                {{ tempSchedule?.date | date }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                Status
                            </mat-header-cell>

                            <mat-cell class="label-txt" mat-cell *matCellDef="let tempSchedule" [ngStyle]="{
                  color:
                    tempSchedule.nxtSchStatus == 0
                      ? '#f7ca18'
                      : tempSchedule.nxtSchStatus == 1
                      ? 'red'
                      : tempSchedule.nxtSchStatus == 2
                      ? 'green'
                      : 'blue'
                }">
                                <span class="material-icons" matTooltip="{{ tempSchedule.nxtSchReason }}">{{ statusBinder(tempSchedule.nxtSchStatus) }}</span
                >
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Update Date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Last Updated Date
              </mat-header-cell>
              <mat-cell
                class="label-txt"
                *matCellDef="let tempSchedule"
                data-label="Updated Date"
              >
                {{ tempSchedule?.locoDate | date }}</mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="#">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
              </mat-header-cell>
              <mat-cell
                class="label-txt"
                *matCellDef="let tempSchedule"
                data-label="Note"
              >
                <button
                  mat-icon-button
                  (click)="viewHistoryMore(tempSchedule._id)"
                >
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>

          <mat-paginator
            [pageSizeOptions]="[4, 8, 12]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <br />
  <mat-dialog-actions align="end">
    <button class="btn-color" mat-raised-button [mat-dialog-close]="true">
      Close
    </button>
  </mat-dialog-actions>
</div>
