<div class="container-fluid">
    <br>
    <div class="box-head">
        <img src="./assets/images/locom6.png" alt="" style="height: 70px; width: 70px; margin-right: 15px;">
        <div class="waviy">
            <span style="--i:1; color: #1e8bc3; font-size: 40px" class="new">A</span>
            <span style="--i:2" class="new">D</span>
            <span style="--i:3" class="new">D</span>
            <span>&nbsp;</span>
            <span style="--i:4">L</span>
            <span style="--i:5">O</span>
            <span style="--i:6">C</span>
            <span style="--i:7">O</span>
            <span style="--i:8">M</span>
            <span style="--i:9">O</span>
            <span style="--i:11">T</span>
            <span style="--i:12">I</span>
            <span style="--i:13">V</span>
            <span style="--i:14">E</span>

        </div>
    </div>
    <hr>
    <br>


    <div class="example-container">
        <form [formGroup]="LocoGroup" (ngSubmit)="onSubmit()">
            <mat-tab-group mat-align-tabs="Start" [selectedIndex]="selectedIndex" animationDuration="0ms">
                <mat-tab>
                    <mat-card>
                        <ng-template mat-tab-label>
                            <span class="material-icons">looks_one</span>&nbsp;First Tab
                        </ng-template>
                        <h3 class="sub-headers">Basic Details</h3>
                        <mat-form-field appearance="fill">
                            <mat-label>Locomotive Category</mat-label>
                            <input type="text" required placeholder="E.g: M2" aria-label="Number" matInput [formControl]="myControl" formControlName="locoCatId" [matAutocomplete]="auto">

                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of options " [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                            <div *ngIf="LocoGroup.controls['locoCatId'].invalid && (LocoGroup.controls['locoCatId'].dirty || LocoGroup.controls['locoCatId'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['LocoCatId'].errors.required">
                                    Category is Required.
                                </div>
                            </div>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label class="Locomotive Number">Locomotive Number</mat-label>
                            <input required maxlength="3" minlength="1" matInput placeholder="E.g: 751" #searchInput formControlName="locoNumber">
                            <div *ngIf="LocoGroup.controls['locoNumber'].invalid && (LocoGroup.controls['locoNumber'].dirty || LocoGroup.controls['locoNumber'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['locoNumber'].errors.required">
                                    Number is Required.
                                </div>
                                <div *ngIf="LocoGroup.controls['locoNumber'].errors.pattern">
                                    Enter only numbers
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label class="label-txt">Locomotive Power(hp)</mat-label>
                            <input minlength="4" maxlength="5" required matInput placeholder="E.g: 3200Hp" #searchInput formControlName="locoPower">
                            <div *ngIf="LocoGroup.controls['locoPower'].invalid && (LocoGroup.controls['locoPower'].dirty || LocoGroup.controls['locoPower'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['locoPower'].errors.required">
                                    power is Required.
                                </div>
                                <div *ngIf="LocoGroup.controls['locoPower'].errors.pattern">
                                    Enter only numbers
                                </div>
                            </div>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label class="label-txt">Locomotive Mileage(Km)</mat-label>
                            <input minlength="4" required matInput placeholder="E.g: 45000Km" #searchInput formControlName="locoMileage">
                            <div *ngIf="LocoGroup.controls['locoMileage'].invalid && (LocoGroup.controls['locoMileage'].dirty || LocoGroup.controls['locoMileage'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['locoMileage'].errors.required">
                                    Mileage is Required.
                                </div>
                                <div *ngIf="LocoGroup.controls['locoMileage'].errors.pattern">
                                    Enter only numbers
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="locoDate">

                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <div *ngIf="LocoGroup.controls['locoDate'].invalid && (LocoGroup.controls['locoDate'].dirty || LocoGroup.controls['locoDate'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['locoDate'].errors.required">
                                    Date is Required.
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Supervisor NIC</mat-label>
                            <mat-select formControlName="userNic" required (selectionChange)="onChangeSelect($event)">
                                <mat-option value="">Choose ..</mat-option>
                                <mat-option *ngFor="let temIds of userList" value="{{temIds.userNic}}">
                                    {{temIds.userNic}}
                                </mat-option>
                            </mat-select>
                            <div *ngIf="LocoGroup.controls['userNic'].invalid && (LocoGroup.controls['userNic'].dirty || LocoGroup.controls['userNic'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['userNic'].errors.required">
                                    Supervisor Nic is Required.
                                </div>
                            </div>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label class="label-txt">Supervisor Name</mat-label>
                            <input readonly minlength="4" required matInput placeholder="E.g: Wasantha Kumara" #searchInput formControlName="supervisorName">
                            <div *ngIf="LocoGroup.controls['supervisorName'].invalid && (LocoGroup.controls['supervisorName'].dirty || LocoGroup.controls['supervisorName'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['supervisorName'].errors.required">
                                    Supervisor Name is Required.
                                </div>
                                <div *ngIf="LocoGroup.controls['supervisorName'].errors.pattern">
                                    Enter only Letters
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label class="label-txt">Supervisor Email</mat-label>
                            <input readonly minlength="4" required matInput placeholder="Supervisor Email" #searchInput formControlName="supervisorEmail">
                            <div *ngIf="LocoGroup.controls['supervisorEmail'].invalid && (LocoGroup.controls['supervisorEmail'].dirty || LocoGroup.controls['supervisorEmail'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['supervisorEmail'].errors.required">
                                    Supervisor Name is Required.
                                </div>
                                <div *ngIf="LocoGroup.controls['supervisorEmail'].errors.pattern">
                                    Enter only Letters
                                </div>
                            </div>
                        </mat-form-field>
                        <mat-radio-group aria-label="Select an option" formControlName="locoAvailability">
                            <span class="para-txt">Availability</span>
                            <mat-radio-button *ngFor="let status of statuses" [value]="status">{{status}} &nbsp;</mat-radio-button>

                        </mat-radio-group>
                        <br>
                    </mat-card>

                    <mat-divider></mat-divider>
                    <br>
                    <mat-card>
                        <h3 class="sub-headers">Motar Parts</h3>
                        <div class="input-Type">
                            <mat-form-field appearance="fill">
                                <mat-label class="Locomotive Number">Add Motor Item</mat-label>
                                <input required maxlength="20" minlength="1" matInput placeholder="E.g: Pistons" #searchInput formControlName="mtrType" (keyup)="onkeyUp($event)">
                            </mat-form-field> &nbsp;&nbsp;
                            <div class="btn">
                                <button type="button" mat-raised-button (click)="onClickMotor()"><span class="material-icons">
add_circle
</span></button>&nbsp;
                                <button style="color: red" type="button" mat-raised-button (click)="onClickremoveField('','main')"><span class="material-icons">
delete_forever
</span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-3" *ngFor="let locoMotors of mtrArray.controls; let i = index">
                                <div class="row" [formGroup]="locoMotors">
                                    <p style="padding-left: 15px;">
                                        <mat-form-field appearance="outline" style="width: 180px; height: 5px; font-weight: bolder; color: black; font-size: 15px;">
                                            <input matInput placeholder="Fluids" formControlName="Name" readonly>
                                        </mat-form-field>
                                        <br>
                                        <br>
                                        <mat-radio-group aria-label="Select an option" formControlName="working">

                                            <mat-radio-button *ngFor="let status of condition" [value]="status">{{status}} &nbsp;</mat-radio-button>

                                        </mat-radio-group>
                                        <br>
                                        <button style="color: red" mat-button (click)="onClickremoveField(i, 'sub')"><span class="material-icons">delete</span></button>
                                    </p>
                                </div>
                            </div>


                            <!-- Force next columns to break to new line -->
                            <div class="w-100"></div>

                        </div>
                        <br>
                    </mat-card>
                    <mat-divider></mat-divider>
                </mat-tab>
                <mat-tab>
                    <mat-card>
                        <ng-template mat-tab-label>
                            <span class="material-icons">looks_two</span>&nbsp;Second Tab
                        </ng-template>
                        <h3 class="sub-headers">Breaks</h3>
                        <div class="input-Type">
                            <mat-form-field appearance="fill">
                                <mat-label class="Locomotive Number">Add Break Item</mat-label>
                                <input required maxlength="20" minlength="1" matInput placeholder="E.g: Vacumm breaks" #searchInput formControlName="brkType">
                            </mat-form-field> &nbsp;&nbsp;
                            <div class="btn">
                                <button type="button" mat-raised-button (click)="onClickBreaks()"><span class="material-icons">
                    add_circle
                    </span></button> &nbsp;
                                <button style="color: red" type="button" mat-raised-button (click)="onClickremoveBreakField('','main')"><span class="material-icons">delete_forever</span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-3" *ngFor="let locoBreaks of brkArray.controls; let i = index">
                                <div class="row" [formGroup]="locoBreaks">

                                    <p style="padding-left: 15px;">
                                        <mat-form-field appearance="outline" style="width: 180px;  text-align: center; font-weight: bolder; color: black; font-size: 15px;">
                                            <input matInput placeholder="Fluids" formControlName="bName" readonly>
                                        </mat-form-field>
                                        <br>

                                        <mat-radio-group aria-label="Select an option" formControlName="working">
                                            <mat-radio-button *ngFor="let status of condition" [value]="status">{{status}} &nbsp;</mat-radio-button>
                                        </mat-radio-group>
                                        <br>
                                        <button type="button" style="color: red" mat-button (click)="onClickremoveBreakField(i, 'sub')"><span class="material-icons">delete</span></button>
                                    </p>
                                </div>
                            </div>
                            <!-- Force next columns to break to new line -->
                            <div class="w-100"></div>
                        </div>

                    </mat-card>

                    <br>
                    <mat-card>
                        <h3 class="sub-headers">Fuel Levels</h3>
                        <div class="input-Type">
                            <mat-form-field appearance="fill">
                                <mat-label class="Locomotive Number">Add Fluid Item</mat-label>
                                <input required maxlength="20" minlength="3" matInput placeholder="E.g: Oil" #searchInput formControlName="fldType">

                            </mat-form-field> &nbsp;&nbsp;
                            <div class="btn">
                                <button type="button" mat-raised-button (click)="onClickFluids()"><span class="material-icons">
                    add_circle
                    </span></button>&nbsp;
                                <button style="color: red" type="button" mat-raised-button (click)="onClickremoveFluidField('','main')"><span class="material-icons">delete_forever</span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-3" *ngFor="let locoFluids of fluidArray.controls; let i = index">
                                <div class="row" [formGroup]="locoFluids">

                                    <p style="padding-left: 15px;">
                                        <mat-form-field appearance="outline" style="width: 180px;  text-align: center; font-weight: bolder; color: black; font-size: 15px;">
                                            <input matInput placeholder="E.g: Oil" formControlName="fName" readonly>
                                        </mat-form-field>
                                        <br>
                                        <mat-slider thumbLabel [displayWith]="formatLabel" style="width: 300px;" tickInterval="1000" step="1000" min="0" max="100000" aria-label="unit(s)" formControlName="fluids"></mat-slider>
                                        <br>
                                        <button type="button" style="color: red" mat-button (click)="onClickremoveFluidField(i, 'sub')"><span class="material-icons">delete</span></button>
                                    </p>
                                </div>
                            </div>
                            <!-- Force next columns to break to new line -->
                            <div class="w-100"></div>
                        </div>
                    </mat-card>

                    <br>
                    <mat-card>
                        <!-- Image Preview -->
                        <div class="form-group">
                            <div class="preview" *ngIf="preview && preview !== null">
                                <img [src]="preview" [alt]="LocoGroup.value.image" style="height: 100px; width: 150px">
                            </div>
                        </div>

                        <!-- File Input -->
                        <div class="form-group">
                            <input type="file" (change)="uploadFile($event)" accept=".png, .jpg, .jpeg">
                        </div>

                        <br>
                        <mat-form-field appearance="fill">
                            <mat-label>Textarea</mat-label>
                            <textarea matInput formControlName="locoNote"></textarea>
                            <div *ngIf="LocoGroup.controls['locoNote'].invalid && (LocoGroup.controls['locoNote'].dirty || LocoGroup.controls['locoNote'].touched)" class="error">
                                <div *ngIf="LocoGroup.controls['locoNote'].errors.required">
                                    Supervisor Nic is Required.
                                </div>
                            </div>
                        </mat-form-field>
                        <br>

                        <button mat-raised-button color="primary" type="submit">Submit</button>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>

</div>