mat-sidenav-container {
    max-height: auto;
    min-height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

mat-sidenav {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: auto;
    min-height: 800px;
}

mat-sidenav {
    width: 240px;
    max-height: auto;
    min-height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

mat-sidenav-content {
    max-height: auto;
    min-height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}