<div class="container-fluid">
    <div class="box-head">
        <img src="./assets/images/m9.png" alt="" style="height: 40px; width: 40px;">
        <span class="heading-txt"><span style="color: #1e8bc3;">L</span>OAD TRIAL</span>
    </div>
    <hr>
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-0 print">Basic Details</h6>
                        <br>
                        <div class="row" style="color: black;">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Load Trial No.</h6>
                            </div>
                            <div class="col-sm-6 text-secondary" style="color: black;">
                                <span class="info"> {{this.loadNo}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Date</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info">{{this.loadDate | date}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Schedule No</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info"> {{this.scheduleNo}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">From</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info"> {{this.loadFrom}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">To</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info"> {{this.loadTo}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Loco Category</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info"> {{this.locoCatId}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Loco Number</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info">{{this.locoNumber}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Start Mileage</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info">  {{this.startMileage + 'Km'}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">End Mileage</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <span class="info">{{this.endMileage + 'Km'}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0 label">Status</h6>
                            </div>
                            <div class="col-sm-6 text-secondary">
                                <p [ngStyle]="{'color': (this.status == 1)?'#f7ca18':(this.status == 2)?'green':(this.status==3)?'#1f3a93':'red'}"> <span class="material-icons" matTooltip="{{this.reason}}">
                                    {{statusBinder(this.status)}}
                                    </span></p>
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="card-body">
                        <h6 class="mb-0 label">Persons</h6>
                        <br>
                        <div class="row" style="color: black;">
                            <div class="col-sm-5">
                                <h6 class="mb-0 label">Service Manager Name</h6>
                            </div>
                            <div class="col-sm-7 text-secondary" style="color: black;">
                                <span class="info"> {{this.managerName}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0 label">Service Manager NIC</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                <span class="info">{{this.managerNic}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0 label">Service Manager Email</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                <span class="info">{{this.managerEmail}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0 label">Supervisor Name</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                <span class="info"> {{this.supervisorName}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0 label">Supervisor NIC</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                <span class="info"> {{this.supervisorNic}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0 label">Supervisor Email</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                <span class="info">{{this.supervisorEmail}}</span>
                            </div>
                        </div>
                        <hr class="hr">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class="print">Special Remarks </h3>
                        <span class="info"><p>{{this?.loadNote}}</p></span>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <p class="observation"> Print Details:
                    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle style="background: #1f3a93; color: white;" (click)="printBasic()">Basic Details</mat-button-toggle>
                        <mat-button-toggle style="background: #1e8bc3; color: white;" (click)="printTestInfo()">Testing Information</mat-button-toggle>
                        <mat-button-toggle style="background: #19b5fe; color: white;" (click)="printComments()">Comments</mat-button-toggle>
                    </mat-button-toggle-group>
                </p>
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="print">Testing Information </h3>
                        <h4 class="d-flex align-items-center mb-3 observation"><img src="https://img.icons8.com/ios/50/000000/piston.png" style="width: 25px; height: 25px;" />&nbsp; Engine at Running Conditions </h4>
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel (opened)="panelOpenState8 = true" (closed)="panelOpenState7 = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="radio-txt">
                                        Observations
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" id="ExampleTable">
                                    <ng-container matColumnDef="No">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Description">
                                        <th mat-header-cell *matHeaderCellDef> Description </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{element.description}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Observation">
                                        <th mat-header-cell *matHeaderCellDef> Condition </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.condition}}"> {{element.condition}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.action}}"> {{element.action}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                    <tr matRipple mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3 observation"><img src="https://img.icons8.com/ios/50/000000/piston.png" style="width: 25px; height: 25px;" />&nbsp; Engine at Stopped Conditions </h4>
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel (opened)="panelOpenState8 = true" (closed)="panelOpenState7 = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="radio-txt">
                                        Observations
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" id="ExampleTable1">
                                    <ng-container matColumnDef="No">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Description">
                                        <th mat-header-cell *matHeaderCellDef> Description </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.description}}"> {{element.description}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Observation">
                                        <th mat-header-cell *matHeaderCellDef> Condition </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.condition}}"> {{element.condition}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.action}}"> {{element.action}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr matRipple mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="d-flex align-items-center mb-3 observation"><img src="https://img.icons8.com/ios/50/000000/piston.png" style="width: 25px; height: 25px;" />&nbsp; Dynamic Break Test </h4>
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel (opened)="panelOpenState8 = true" (closed)="panelOpenState8 = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="radio-txt">
                                        Notch Observations
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
                                    <ng-container matColumnDef="No">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Notch">
                                        <th mat-header-cell *matHeaderCellDef> Notch </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.notch}}"> {{element.notch}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Track">
                                        <th mat-header-cell *matHeaderCellDef> traction Motors(Amps) </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.tractionMtr}}"> {{element.tractionMtr}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Main">
                                        <th mat-header-cell *matHeaderCellDef> Main Generators(Amps) </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element.mainGen}}"> {{element.mainGen}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                                    <tr matRipple mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="print">Chief Engineer Comments </h3>
                        <ng-container *ngIf="isAllResolved &&  isStatusRes">
                            <button mat-raised-button color="primary" (click)="acceptLoadTrial()" style="float: right;">Accept Load Trial</button>
                            <br>
                            <br>
                        </ng-container>
                        <mat-accordion class="example-headers-align" multi>

                            <mat-expansion-panel (opened)="panelOpenState9 = true" (closed)="panelOpenState9 = false">
                                <span *ngIf="status!=2" [matTooltipClass]="'tooltip'" style="font-weight: bold;" [matTooltip]="this.status !=2 ? 'You can add comments ' :  'Load trial is completed, you can not add comments'">
                                    <button [disabled]="(this.status != 2)?false  :true" mat-raised-button (click)="addComments(this.id)" style="float: right; background-color:  #f9690e; color: white;">Add Comment</button>
                                </span>
                                <br><br>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="radio-txt">
                                        Comments
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table mat-table [dataSource]="dataSource4" class="mat-elevation-z8" id="ExampleTable3">
                                    <ng-container matColumnDef="No">
                                        <th mat-header-cell *matHeaderCellDef> No. </th>
                                        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef> Status </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" [ngStyle]="{'color': (element.status == 1)?'#1f3a93':(element.status == 2)?'green':(element.status==3)?'red':'blue'}">
                                            <span class="material-icons" matTooltip="{{element.reason}}">
                                                {{cmtStatusBinder(element.status)}}
                                                </span>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef> Date </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element?.comDate}}"> {{element?.comDate | date}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="Comments">
                                        <th mat-header-cell *matHeaderCellDef> Comments </th>
                                        <td class="label-txt" mat-cell *matCellDef="let element" matTooltip="{{element?.comments}}"> {{element?.comments}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="#">
                                        <th mat-header-cell *matHeaderCellDef> </th>

                                        <td mat-cell *matCellDef="let element" data-label="#">

                                            <button mat-icon-button (click)="viewFeedBack(element.commentId)" matTooltip="View Feedbacks issued!">
                                                    <i class="fas fa-comment-alt" style="color: #f5ab35;"></i>
                                                 </button>
                                        </td>

                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
                                    <tr matRipple mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button mat-fab color="primary" class="float" (click)="scrollToTop()" *ngIf="pageYoffset > 0">
<i class="fas fa-angle-double-up my-float" style="font-size: 35px;"></i>
    </button>
</div>