@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body {
    margin-top: 20px;
    color: black;
    text-align: left;
    background-color: #e2e8f0;
    height: auto;
}

.text-red .mat-cell {
    color: red;
}

.link {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #1f3a93;
    cursor: pointer;
}

.main-body {
    padding: 15px;
    height: auto;
}

.label-txt {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000080;
}

table {
    width: 100%;
    table-layout: fixed;
}

.td {
    word-wrap: break-word;
    /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;
    /* Renamed property in CSS3 draft spec */
    width: 200px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: black;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

.text-secondary {
    color: black;
}

.box-head {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.heading-txt {
    color: #013243;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    margin-left: 10px;
    ;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    border-radius: 50px;
    text-align: center;
}

.my-float {
    margin-top: -10px;
}

a.float+div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
    visibility: visible;
    opacity: 1;
}

.info {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.hr {
    opacity: 0.6;
}

.print {
    font-size: 18px;
    font-weight: 500;
    color: #1f3a93;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.label-txt {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3F51B5;
}

.accord-head {
    font-size: 14px;
    font-weight: 500;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.label {
    font-size: 14px;
    font-weight: 500;
    color: #1f3a93;
    font-family: 'Roboto', sans-serif;
}

.radio-txt {
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.observation {
    color: #663399;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.back {
    margin-left: auto;
    margin-right: 0;
    text-align: end;
    font-size: 15px;
}