<div class="container-fluid">
    <br />
    <div class="box-head">
        <img src="./assets/images/engineers.png" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 45px; height: 45px" />
        <span class="heading-txt"><span style="color: #1e8bc3">E</span>MPLOYEE PROFILE</span>
        <div class="back">
            <button mat-raised-button (click)="backClicked()">
        <i class="fas fa-arrow-left"></i>&nbsp; Back
      </button>
        </div>
    </div>
    <hr />

    <div class="example-container">
        <mat-tab-group mat-align-tabs="Start" [selectedIndex]="selectedIndex" animationDuration="0ms">
            <mat-tab>
                <mat-card>
                    <ng-template mat-tab-label>
                        <i class="far fa-user-circle icon"></i>&nbsp;Basic Details
                    </ng-template>
                    <form [formGroup]="UserGroup">
                        <div class="row">
                            <div class="col-md-4 pr-0">
                                <div class="preview">
                                    <img [src]="image" style="height: 300px; width: 250px" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Full Name</mat-label>
                                            <input readonly class="label-txt" required matInput formControlName="userName" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Email</mat-label>
                                            <input readonly class="label-txt" required matInput formControlName="userEmail" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Gender</mat-label>
                                            <input readonly class="label-txt" required matInput formControlName="userGender" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>NIC</mat-label>
                                            <input readonly maxlength="10" minlength="10" required class="label-txt" matInput formControlName="userNic" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Mobile Number</mat-label>
                                            <input readonly maxlength="10" minlength="10" mask="(000) 000-0000" required class="label-txt" matInput formControlName="userMobile" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Address</mat-label>
                                            <input readonly required class="label-txt" matInput formControlName="address" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Role</mat-label>
                                            <input readonly required class="label-txt" matInput formControlName="userRole" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Appointment Date</mat-label>
                                            <input disabled required class="label-txt" matInput [matDatepicker]="picker" formControlName="appointmentDate" />
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Work Place</mat-label>
                                            <input readonly required class="label-txt" matInput formControlName="userWorks" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card>
                <mat-divider></mat-divider>
            </mat-tab>
            <mat-tab *ngIf="
          !(
            userRole === 'Clerk' ||
            userRole === 'Chief Engineer' ||
            userRole === 'Service Manager'
          )
        ">
                <mat-card>
                    <ng-template mat-tab-label>
                        <i class="fas fa-train icon"></i>&nbsp;Assigned Locomotives
                    </ng-template>
                    <app-view-assigned-locos *ngIf="userNic || userRole" [userRole]="userRole" [userNic]="userNic"></app-view-assigned-locos>
                </mat-card>
            </mat-tab>
            <mat-tab *ngIf="!(userRole === 'Clerk' || userRole === 'Chief Engineer')">
                <mat-card>
                    <ng-template mat-tab-label>
                        <i class="fas fa-calendar-alt icon"></i>&nbsp;<span *ngIf="userRole === 'Service Manager'">Issued Schedules</span
            >
            <span *ngIf="userRole != 'Service Manager'"
              >Assigned Schedules</span
            >
          </ng-template>
          <app-view-assiged-schedules
            *ngIf="userNic || userRole"
            [userRole]="userRole"
            [userNic]="userNic"
          ></app-view-assiged-schedules>
        </mat-card>
      </mat-tab>
      <mat-tab
        *ngIf="!(userRole === 'Supervisor' || userRole === 'Chief Engineer')"
      >
        <mat-card>
          <ng-template mat-tab-label>
            <i class="fas fa-tachometer-alt icon"></i>&nbsp;<span
              *ngIf="userRole === 'Clerk'"
              >Issued Mileage Reports</span
            >
            <span *ngIf="userRole != 'Clerk'">Assigned Mileage Reports</span>
                    </ng-template>
                    <app-view-assiged-mileages *ngIf="userNic || userRole" [userRole]="userRole" [userNic]="userNic"></app-view-assiged-mileages>
                </mat-card>
            </mat-tab>
            <mat-tab *ngIf="
          !(
            userRole === 'Clerk' ||
            userRole === 'Chief Engineer' ||
            userRole === 'Service Manager'
          )
        ">
                <mat-card>
                    <ng-template mat-tab-label>
                        <i class="fas fa-tools icon"></i>&nbsp;Issued Load Trials
                    </ng-template>
                    <app-view-issued-load-trials *ngIf="userNic || userRole" [userRole]="userRole" [userNic]="userNic"></app-view-issued-load-trials>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
