<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <!-- / project-info-box -->
            <img src="{{this.imageSt}}" class="rounded">
            <div class="project-info-box">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Locomotive Category</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.locoCategory}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Locomotive No.</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.locoNumber}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Locomotive Power</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.locoPower}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Last Update Date</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info"> {{this.date | date}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Last Checked Mileage</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.locoMileage + 'Km'}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Last Load Trial Date</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.endMileDate | date}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Mileage after Last Load Trial</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.endMileage + 'Km'}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Supervisor NIC</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info">{{this.supervisorNic}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Supervisor Email</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info"> {{this.supervisorEmail}}</span>
                    </div>
                </div>
                <hr class="hr">
                <div class="row" style="color: black;">
                    <div class="col-sm-4">
                        <h4 class="mb-0 label">Supervisor Name</h4>
                    </div>
                    <div class="col-sm-6 text-secondary" style="color: black;">
                        <span class="info"> {{this.supervisorName}}</span>
                    </div>
                </div>


            </div>
            <!-- / project-info-box -->
            <div class="project-info-box">
                <h2 class="print">Special Notice</h2>
                <p class="info">{{this.note}}</p>
            </div>

        </div>
        <!-- / column -->

        <div class="col-md-7">


            <div class="project-info-box mt-0">
                <p>
                    <span class="print">Print Details</span>&nbsp;
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" appearance="legacy">
                        <mat-button-toggle style="background-color: #1f3a93; color: white; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 13px;" matTooltip="Print Locomotives Details" value="bold" (click)="printBasic()">Basic Details</mat-button-toggle>
                        <mat-button-toggle style="background-color: #1e8bc3; color: white; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 13px;" matTooltip="Print Loco Part Details" value="italic" (click)="printTestInfo()">Loco Parts</mat-button-toggle>
                        <mat-button-toggle style="background-color: #19b5fe; color: white; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 13px;" matTooltip="Print Assigned Schedule Details" (click)="printAssignedSchedule()">Schedules Assigned</mat-button-toggle>
                        <mat-button-toggle style="background-color: #89c4f4; color: white; font-family: 'Roboto', sans-serif; font-weight: 500; font-size: 13px;" matTooltip="Print Next Schedule Details" value="underline" (click)="printNextSchedules()">Next Schedules</mat-button-toggle>
                    </mat-button-toggle-group>
                </p>

                <br>
                <h2 class="print">Motor Parts</h2>
                <mat-accordion>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="accord-head ">
                                View Motor Parts
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <ng-container matColumnDef="No">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td class="label-txt" mat-cell *matCellDef="let element; let i = index">{{i + 1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Motor Part Name">
                                <th mat-header-cell *matHeaderCellDef> Motor Part Name </th>
                                <td class="label-txt" mat-cell *matCellDef="let element"> {{element.Name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Condition">
                                <th mat-header-cell *matHeaderCellDef> Condition </th>
                                <td class="label-txt" mat-cell *matCellDef="let element"> {{element.working}} </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>
                <br>
                <h2 class="print">Breaks Types</h2>
                <mat-accordion>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="accord-head ">
                                View Breaks Types
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">

                            <ng-container matColumnDef="No">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen; let i = index">{{i + 1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Motor Part Name">
                                <th mat-header-cell *matHeaderCellDef> Break Type </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.bName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Condition">
                                <th mat-header-cell *matHeaderCellDef> Condition </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.working}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>

                    </mat-expansion-panel>
                </mat-accordion>
                <br>
                <br>
                <h2 class="print">Liquid Levels</h2>
                <mat-accordion>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="accord-head ">
                                View Fluid Levels
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                            <ng-container matColumnDef="No">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen; let i = index">{{i + 1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Fluids">
                                <th mat-header-cell *matHeaderCellDef> Break Type </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.fName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Level">
                                <th mat-header-cell *matHeaderCellDef> Level </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.fluids}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>
                <ng-container>
                    <h2 class="print">Locomotive History Info</h2>
                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="accord-head ">
                                    View Fluid Levels
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table mat-table [dataSource]="dataSource6" class="mat-elevation-z8">
                                <ng-container matColumnDef="Loco Category">
                                    <th mat-header-cell *matHeaderCellDef> Loco Category </th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.locoCatId}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Loco Number">
                                    <th mat-header-cell *matHeaderCellDef> Loco Number</th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.locoNumber}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Last Updated Date">
                                    <th mat-header-cell *matHeaderCellDef> Date</th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.locoDate | date}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Loco Mileage">
                                    <th mat-header-cell *matHeaderCellDef> Loco Mileage </th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.locoMileage + ' Km'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="#">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> <button mat-icon-button (click)="viewHistoryMore(elemen._id)"><mat-icon>visibility</mat-icon></button></td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns6"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns6;"></tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>
                <br>
                <h2 class="print">Schedules Assigned</h2>
                <mat-accordion>

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="accord-head ">
                                View Schedules
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
                            <ng-container matColumnDef="Schedule No.">
                                <th mat-header-cell *matHeaderCellDef> Schedule No. </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen; ">{{elemen.scheduleNo}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Supervisor Name">
                                <th mat-header-cell *matHeaderCellDef> Supervisor Name </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.supervisorName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Report No.">
                                <th mat-header-cell *matHeaderCellDef> Report No. </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.mReportNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Progress">
                                <th mat-header-cell *matHeaderCellDef> Progress </th>
                                <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.scheduleProgress}} </td>
                            </ng-container>

                            <ng-container matColumnDef="#">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let elemen">
                                    <button mat-icon-button (click)="viewSchedule(elemen._id)" matTooltip="Click for more information">
                                        <i class="fas fa-eye" style="color: #013243; font-size: 18px;"></i></button>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                        </table>
                    </mat-expansion-panel>
                </mat-accordion>
                <br>
                <ng-container *ngIf="!isShowNextSchedule">
                    <h2 class="print">Next Schedule Info</h2>
                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="accord-head ">
                                    View Fluid Levels
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table mat-table [dataSource]="dataSource5" class="mat-elevation-z8">

                                <ng-container matColumnDef="Next Schedule No.">
                                    <th mat-header-cell *matHeaderCellDef> Next Schedule No.</th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen; let i = index">{{elemen.nxtSchId}}</td>
                                </ng-container>
                                <ng-container matColumnDef="Loco Category">
                                    <th mat-header-cell *matHeaderCellDef> Loco Category </th>
                                    <td mat-cell *matCellDef="let elemen"> {{elemen.locoCatId}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Loco Number">
                                    <th mat-header-cell *matHeaderCellDef> Loco Number</th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.locoNumber}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Date">
                                    <th mat-header-cell *matHeaderCellDef> Date</th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen"> {{elemen.date}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef> Status</th>
                                    <td class="label-txt" mat-cell *matCellDef="let elemen" [ngStyle]="{'color': (elemen.nxtSchStatus == 0)?'#f7ca18':(elemen.nxtSchStatus == 1)?'green':(elemen.nxtSchStatus==2)?'green':'blue'}">
                                        <span class="material-icons" matTooltip="{{elemen.nxtSchReason}}">{{statusBinder(elemen.nxtSchStatus)}}</span> </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns5"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>
                <br>



            </div>
            <!-- / project-info-box -->
            <div class="project-info-box">

            </div>
            <!-- / project-info-box -->
        </div>
        <!-- / column -->
    </div>
    <button mat-fab color="primary" class="float" (click)="scrollToTop()" *ngIf="pageYoffset > 0">
<i class="fas fa-angle-double-up my-float" style="font-size: 35px;"></i>
    </button>
</div>