<div class="container-fluid">
    <br>
    <div class="box-head">
        <img src="./assets/images/m9.png" alt="" style="height: 45px; width: 45px;">
        <span class="heading-txt"><span style="color: #1e8bc3;">V</span>IEW MILEAGE REPORTS</span>
    </div>
    <hr>

    <div class="search-div">
        <mat-form-field class="search-form-field" appearance="fill" style="width: 300px; margin-left: 15px;">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <mat-hint>Search by Report Number, Loco Category & Loco Number </mat-hint>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
        </mat-form-field>
    </div>
    <div class="main-table">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="Report Number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Report Number </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="Report Number">{{tempLoco?.mReportNumber}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Loco Category">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loco Category </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="Loco Category"> {{tempLoco?.mLocoCatId}}</mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Loco Number">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Loco Number </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="Loco Number"> {{tempLoco.mLocoNumber}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Mileage">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Mileage </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="Mileage"> {{tempLoco.mLocoMileage}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="Date"> {{tempLoco.mileageDate | date}}</mat-cell>
                </ng-container>

                <!-- Symbol Column -->>

                <ng-container matColumnDef="mileageNote">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> mileageNote </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="mileageNote">{{tempLoco?.mileageNote}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> status </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="status" [ngStyle]="{'color': (tempLoco.status ==1)?'#f7ca18':(tempLoco.status == 2)?'#1f3a93':(tempLoco.status==3)?'red':'green'}">

                        <span class="material-icons" matTooltip="{{tempLoco.reason}}">
{{statusBinder(tempLoco.status)}}
</span>
                        <!--            {{tempLoco.status || '-'}}-->
                    </mat-cell>
                    <!--          pending - yellow , Approval  -blue, created-Green , rejectd - red-->


                </ng-container>
                <ng-container matColumnDef="#">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let tempLoco" data-label="#">
                        <button mat-icon-button (click)="viewMileage(tempLoco.mReportNumber)" matTooltip="Click for more information"><i class="fas fa-eye" style="color: #013243; font-size: 18px;"></i></button>
                        <button mat-icon-button [disabled]="(tempLoco.status != 2 && tempLoco.status !=4)?false: true" (click)="openAcceptDialog(tempLoco)"><mat-icon aria-hidden="false" aria-label="Example home icon">thumb_up</mat-icon></button>
                        <button mat-icon-button [disabled]="(tempLoco.status != 3 && tempLoco.status !=4)?false:true" (click)="openRejectDialog(tempLoco)"><mat-icon aria-hidden="false" aria-label="Example home icon">thumb_down</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

</div>
