<div class="container-fluid">
    <section id="home" class="home-bg">
        <div class="hello">
            <h1>
                <img src="./assets/logo/1618836043384.png" alt="" style="width: 95px; height: 95px; margin-top: 40px;">
                <br>
                <div class="animation">
                    <span class="first">Welcome to</span>
                    <span class="oh">&nbsp;
          <span class="second">Sri Lanka Railway</span>
                    </span>
                </div>
                <br>

            </h1>

            <p class="lead">
                <br>
                <button mat-raised-button class="btn-log" routerLink="MainLogin">Click</button>
            </p>

        </div>

    </section>

    <a href="#" class="float">
        <i class="fa fa-envelope my-float"></i>
    </a>
    <div class="label-container">
        <div class="label-text">Feedback</div>
        <i class="fa fa-play label-arrow"></i>
    </div>

</div>