@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.empty-state {
    margin: auto;
    width: 50%;
    padding-left: 60px;
}

.txt-error {
    padding-left: 50px;
    font-size: 25px;
    color: #FF4081;
}

.label-txt {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3F51B5;
}

.label {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000080;
}

.heading {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.schedule-No {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #2e3131;
}

.mat-column-Note {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-CheckedItems {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
