<div>

    <h2 mat-dialog-title class="heading">Progress History <span class="schedule-No"> ({{this.scheduleNo}})</span></h2>
    <mat-dialog-content class="mat-typography" *ngIf="isShowLabel">
        <div class="empty-state">
            <div class="empty-state__content">
                <div class="empty-state__icon">
                    <img src="./assets/NewOn/hh.jpg" alt="">
                </div>
                <p class="txt-error">No records has been added yet!</p>

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-content class="mat-typography" *ngIf="isShowPrTable">
        <div class="container-fluid">
            <div class="search-div">
                <mat-form-field class="search-form-field" appearance="fill" style="width: 300px; margin-left: 15px;">
                    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value);" #filterInput>
                    <mat-hint>Search by Loco Category, Loco Number, </mat-hint>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                  <mat-icon>close</mat-icon>
                </button>
                </mat-form-field>
            </div>
            <br>
            <div class="main-table">
                <div class="mat-elevation-z8">
                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="Progress No">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Progress No </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Progress No">{{tempSchedule?.progressReportNumber}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Schedule No">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Schedule No </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Schedule No"> {{tempSchedule?.scheduleNo}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Date</mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Date"> {{tempSchedule?.progressDate | date}} </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="Progress Value">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Progress Value </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Progress Value"> {{tempSchedule?.progressValue+'%'}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="CheckedItems">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Checked Items </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Checked Items"> {{tempSchedule?.checkArray}} </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="Note">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Note </mat-header-cell>
                            <mat-cell class="label-txt" *matCellDef="let tempSchedule" data-label="Note"> {{tempSchedule?.extraNote}}</mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <br>
    <mat-dialog-actions align="end">

        <button mat-raised-button [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>
</div>
