<app-common-header></app-common-header>
<main>
    <article class="main-container">
        <div class="login-wrapper">

            <!-- Contenido del lado izquierdo -->
            <section class="form-wrapper">



                <!-- Contenedor del formulario y sus mensajes -->
                <div class="form-container">

                    <!-- Mensaje de login -->
                    <div class="form-messages">
                        <h2 class="heading">PASSWORD RESET</h2>
                        <hr class="separator">
                        <p>Welcome! Please, fill Password and Confirm Password.</p>
                    </div>


                    <form [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
                        <div class="form-group">
                            <mat-form-field appearance="fill" style="width: 300px;">
                                <mat-label>Password</mat-label>
                                <input matInput _ngcontent-c0="" placeholder="Password" type="password" id="password" formControlName="newPassword">
                            </mat-form-field>
                            <mat-hint style="color: red;" *ngIf="this.lengthError">Password is required with atleast 4 characters.</mat-hint>
                            <br>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="fill" style="width: 300px;">
                                <mat-label>Re-Enter Password</mat-label>
                                <input matInput _ngcontent-c0="" placeholder="Confirm Password" type="password" id="cpassword" formControlName="confirmPassword">
                            </mat-form-field>
                            <br>
                            <mat-hint style="color: red;" *ngIf="this.passwordMismatchError">Entered passwords are mismatched</mat-hint>
                        </div>
                        <br>
                        <div class="form-group">
                            <div>

                                <button type="submit" mat-raised-button color="primary">Reset
                                        Password</button>

                            </div>
                        </div>

                    </form>
                    <hr>
                    <br>
                    <p style="color: #1f3a93; font-weight: bold; font-family: 'Roboto', sans-serif;">Click here to log &nbsp;
                        <button type="submit" [disabled]="!this.loginSuccess" s mat-raised-button routerLink="/MainLogin">Login</button></p>




                    <!-- Otras opciones de inicio login -->


                </div>

            </section>

            <!-- Contenido del lado derecho -->
            <section class="image-wrapper">

                <div class="image-message">

                    <div class="image-hr-container">
                        <hr class="image-hr">
                    </div>

                    <div class="image-text">

                    </div>

                </div>

            </section>
        </div>
    </article>
</main>