<div class="container-fluid">
    <br>
    <div class="box-head">
        <img src="./assets/images/man2.png" alt="" style="width: 45px; height: 45px">
        <span class="heading-txt"><span style="color: #1e8bc3;">V</span>IEW USERS</span>
    </div>
    <mat-divider></mat-divider>
    <div class="search-div">
        <mat-form-field class="search-form-field" appearance="fill" style="width: 300px; margin-left: 15px;">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <mat-hint>Search by Full name, Email, Mobile no. & Work Place </mat-hint>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
  </button>
        </mat-form-field>
    </div>

    <div class="main-table">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="Full Name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name</mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="Full Name">{{tempCustomer.CustomerName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="Email"> {{tempCustomer.CustomerEmail}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="Mobile"> {{tempCustomer.CustomerMobile}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="WorkPlace">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Work Place </mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="WorkPlace"> {{tempCustomer.CustomerWork}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Nic">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> NIC </mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="NIC"> {{tempCustomer.CustomerNic}} </mat-cell>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Role">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="Role"> {{tempCustomer.CustomerRole}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="Hired Date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Hired Date </mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="Hired Date"> {{tempCustomer.CustomerHiredDate | date}}</mat-cell>
                </ng-container>

                <!-- Symbol Column -->>
                <ng-container matColumnDef="#">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let tempCustomer" data-label="#">
                        <button mat-button><span class="material-icons" (click)="deleteCustomer(tempCustomer.CustomerNic)">delete</span></button> &nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>
        </div>
    </div>



</div>