<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-4">
            <div class="card-box text-center">
                <img src="{{this.image}}" class="rounded-circle avatar-xl img-thumbnail" alt="profile-image" style="width: 150px; height:150px;">

                <h2 class="mb-0" style="color: #1f3a93;">{{this?.userName}}</h2>
                <p class="text-muted">{{this?.userRole}}</p>



                <div class="text-left mt-3">
                    <h4 class="font-13 text-uppercase">About Me :</h4>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">Email</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.userEmail}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">Gender</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.userGender}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">NIC</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.userNic}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">Mobile No</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.userMobile}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">Address</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.address}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">Appointment Date</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.appointmentDate}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" style="color: black;">
                        <div class="col-sm-4">
                            <h6 class="mb-0 label">Work Place</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" style="color: black;">
                            <span style="font-size: 14px; color:#013243">{{this?.userWorks}}</span>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>
            <!-- end card-box -->


            <!-- end card-box-->

        </div>
        <!-- end col-->


        <div class="col-lg-8 col-xl-8">
            <div class="card-box">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle matTooltip="View Locomotives Details" value="bold" routerLink="/userDashboard/userViewLocomotives">Locomotives</mat-button-toggle>
                    <mat-button-toggle matTooltip="View Schedule Details" value="italic" routerLink="/userDashboard/viewSchedules">Schedules</mat-button-toggle>
                    <mat-button-toggle value="italic">Progress Reports</mat-button-toggle>
                    <mat-button-toggle matTooltip="View Load Trial Details" value="underline" routerLink="/userDashboard/viewLoad">Load Trials</mat-button-toggle>
                </mat-button-toggle-group>

                <div class="tab-content">

                    <div class="tab-pane show active" id="about-me">

                        <h5 class="mb-4 text-uppercase"><i class="mdi mdi-briefcase mr-1"></i> Experience
                        </h5>

                        <ul class="list-unstyled timeline-sm">
                            <li class="timeline-sm-item">
                                <span class="timeline-sm-date">2015 - 19</span>
                                <h5 class="mt-0 mb-1">Lead designer / Developer</h5>
                                <p>websitename.com</p>
                                <p class="text-muted mt-2">Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>

                            </li>
                            <li class="timeline-sm-item">
                                <span class="timeline-sm-date">2012 - 15</span>
                                <h5 class="mt-0 mb-1">Senior Graphic Designer</h5>
                                <p>Software Inc.</p>
                                <p class="text-muted mt-2">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
                            </li>
                            <li class="timeline-sm-item">
                                <span class="timeline-sm-date">2010 - 12</span>
                                <h5 class="mt-0 mb-1">Graphic Designer</h5>
                                <p>Coderthemes LLP</p>
                                <p class="text-muted mt-2 mb-0">The European languages are members of the same family. Their separate existence is a myth. For science music sport etc, Europe uses the same vocabulary. The languages only differ in their grammar their pronunciation.</p>
                            </li>
                        </ul>

                        <h5 class="mb-3 mt-4 text-uppercase"><i class="mdi mdi-cards-variant mr-1"></i> Projects
                        </h5>


                    </div>
                    <!-- end timeline content-->


                    <!-- end settings content-->

                </div>
                <!-- end tab-content -->
            </div>
            <!-- end card-box-->

        </div>
        <!-- end col -->
    </div>
</div>
