<div class="container">
    <h2 mat-dialog-title>Install Angular</h2>
    <form [formGroup]="feedBackGroup" (ngSubmit)="onSubmit()">
        <mat-dialog-content class="mat-typography">

            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Comment ID</mat-label>
                        <input matInput formControlName="commentId" readonly>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>FeedBack ID</mat-label>
                        <input readonly matInput formControlName="feedId">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Load Number</mat-label>
                        <input matInput formControlName="loadNo" readonly>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Loco Number</mat-label>
                        <input matInput formControlName="locoNumber" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="w-100"></div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 430px;">
                        <mat-label>Comments</mat-label>
                        <input matInput formControlName="comments" readonly>
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="w-100"></div>
                <div class="col">
                    <mat-form-field appearance="fill" style="width: 430px;">
                        <mat-label>Taken Actions</mat-label>
                        <input matInput formControlName="action">
                    </mat-form-field>
                </div>

            </div>


        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
        </mat-dialog-actions>
    </form>
</div>